# Environments
venv/
env/
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Databases
*.db
*.sqlite
*.sqlite3

# Audio / Temporary Media
audio/
temp/
*.mp3
*.wav
*.webm

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
